html, body{
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  background-image: linear-gradient(#ffffff, #000000);
}

#content{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  width: 50%;
  border: solid 3px #af0202;
  border-radius: 50px;
}

h1{
  color: white;
  text-shadow: 0 0 5px black;
}


img{
  box-shadow: 3px 3px 5px grey;
  width:500px;
  height:400px;
  object-fit: contain;
  border: solid 1px #af0202;
}

img:hover {
  filter: blur(5px);
  transform: scale(2, 3);
}
