
    <!DOCTYPE html>
    <html>
    <head>
    <style>
    body {
    background-color: lightblue;
    }
    h1 {
    font-size: 45px;
    }
    p1 {
    color: black;
    }
    </style>
    </head>
    <body>
    <h1>Hi!</h1>
    <p1>I am an iguana</p1>
    </body>
    </html>
