html, body{
  font-size: 12px;
  font-family: Courier;
  background-color: black;
  color: white;
  border: 5px white;
  }

#header{
  font-weight: bold;
  text-decoration: underline;
  margin-left: 30%;
}

#content{
  width: 25%;
}

main{
  border: solid 5px white;
  background-color: grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30%;
}

#image img{
  width: 400px;
  max-width: 90%;
  position: center;
}

h2, h3{
  border: dashed 1px black;
  padding-left: 60%;
  align-items: center;
}
