body{
  font-family: monospace;
  font-size: 16px;
  color: #e14900;
  background-color: black;
  border: solid 1px white;
  display: inline-flex;
}

main{
  border: solid 1px white;
}

img{
  max-width: 400px;
}

section{
  border: solid 1px white;
}

header{
  border: solid 1px white;
}

aside{
  border: solid 1px white;
}

nav{
  text-align: center;
  border: solid 1px white;
  padding-left: 40%;
}

h1, h2{
  color: white;
  text-decoration: underline;
}

a{
  color: #e14900;
}
#footer{
  text-align: center;
}
