html, body {

  font-family: Courier;
  font-size: 12px;
  color: black;
  width:503px;
  background-color: black;
  padding-left: 50px;

}

main, .major-section, div#content{
  border: solid 2px black;
  background-color: #c4c3c2;
  padding: 10px;

}

#content:hover{
  width: 650px;

}
#headshot img{
  float: center;
  width: 500px;
  margin-left: auto;
  border: solid 2px black;

}

#headshot img:hover{
  width: 650px;

}

#header{
  text-decoration: underline;
}

h2, h3 {
  border: solid 1px black;
  text-decoration: line-through;
}

p{
  font-weight: bold;
}

a{
  color: grey;
  padding-left: auto;

}

a:hover{
  text-decoration-style: wavy;
  text-transform: uppercase;
  text-decoration-color: white;
  font-weight: bolder;
  font-size: 14px;
  margin: auto;
}
